@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;

}
button {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}
#output {
    padding: 10px;
    border: 1px solid #3e4aed;
    background-color: #948dee;
    color: white;
    font-size: 20px;
    font-weight: 500;

    /* white-space: pre-wrap;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%; */

}

.result-section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .logo-container {
    width: 300px;
    height: auto;
}

.header .logo-container img {
    width: 100%;
    height: 100%;
}

.header h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    max-width: 800px;
}

.header h2 {
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    font-size: 18px;
}

.header-names__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 35px;
}

.header-names__container .studentName {
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
}

.header-names__container .studentName:hover {
    background-color: white;
    color: black;
}

.testing-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.rules-section {
    
}

.rules-section h3 {
    padding-bottom: 20px;
}

.rule-container {
    border: 1px solid #ccc;
}

.rule-container h4 {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 0;
}

.rule-container ul {
    list-style-type: none;
    padding: 15px;
}

